<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinema.client">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Main3Activity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activity.PosterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchCinemaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchFilmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.StoriesActivity" />
        <activity
            android:name=".activity.BillActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutCinemaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ErrorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.WhatsNewActivity" />
        <activity
            android:name=".activity.StatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QRZoomActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ZoomImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutDeveloperActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HallNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.StartupActivity" />
        <activity android:name=".activity.CardActivity" />
        <activity
            android:name=".activity.AboutFilmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:fitsSystemWindows="true"/>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:screenOrientation="portrait" />

        <!--<receiver android:name="utils.notification.AlarmReceiver"/>-->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_ticket_accent" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="false" />

        <service android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <!-- -->

        <!-- -->






    </application>

</manifest>